{% load static %}
<meta charset="utf-8">
<title>My web app</title>
<link rel="stylesheet" href="{% static 'app.css' %}">

<h1>Todo</h1>
<ul>
    {% for todo in todos %}
        <li>{{ todo }}</li>
    {% endfor %}
</ul>

<form action="{% url 'create_todo' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="todo" placeholder="Create todo...">
    <input type="submit" value="Create">
</form>

<p>
	<a href="{% url 'send_test_email' %}">Email my todo list to me</a>.
	Check the <a href="http://localhost:9000" target="_blank">mail server</a>
	for the output.
</p>
